body {
  margin: 0;
  background: #111;
  overflow: hidden;
}

/* ===== MENU ===== */
#menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #111;
  color: white;
  text-align: center;
  padding-top: 100px;
  z-index: 10;
}

#menu button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 18px;
}

/* ===== GAME ===== */
canvas {
  display: none;
  background: #222;
}

/* ===== CONTROLS ===== */
#controls {
  display: none;
  position: fixed;
  bottom: 40px;
  width: 100%;
  justify-content: space-between;
  padding: 0 30px;
}

#joystick {
  width: 100px;
  height: 100px;
  background: #333;
  border-radius: 50%;
  position: relative;
  touch-action: none;
}

#stick {
  width: 40px;
  height: 40px;
  background: #aaa;
  border-radius: 50%;
  position: absolute;
  left: 30px;
  top: 30px;
}

#attackBtn {
  font-size: 24px;
  padding: 20px;
}